In [7]:
import pandas as pd

In [8]:
TRAIN_DATA = '../data/data-for-processing/cleaned_train.feather'
TEST_DATA = '../data/data-for-processing/cleaned_test.feather'

In [9]:
train_df = pd.read_feather(TRAIN_DATA)
test_df = pd.read_feather(TEST_DATA)

/home/solomon/anaconda3/envs/py3/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

In [10]:
train_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_datetime_utc,pickup_datetime_local,...,pickup_hour,pickup_minute,pickup_second,pickup_weekday,pickup_days_in_year,pickup_days_sin,pickup_days_cos,pickup_seconds_in_day,pickup_seconds_sin,pickup_seconds_cos
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1,2009-06-15 17:26:21+00:00,2009-06-15 13:26:21-04:00,...,13,26,21,0,165,0.296713,-0.954967,48381,-0.367922,-0.929857
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1,2010-01-05 16:52:16+00:00,2010-01-05 11:52:16-05:00,...,11,52,16,1,4,0.068802,0.997630,42736,0.033737,-0.999431
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2,2011-08-18 00:35:00+00:00,2011-08-17 20:35:00-04:00,...,20,35,0,2,228,-0.705584,-0.708627,74100,-0.779884,0.625923
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1,2012-04-21 04:30:42+00:00,2012-04-21 00:30:42-04:00,...,0,30,42,5,111,0.942761,-0.333469,1842,0.133554,0.991042
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1,2010-03-09 07:51:00+00:00,2010-03-09 02:51:00-05:00,...,2,51,0,1,67,0.914128,0.405426,10260,0.678801,0.734323

In [11]:
test_df.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_datetime_utc,pickup_datetime_local,pickup_year,...,pickup_hour,pickup_minute,pickup_second,pickup_weekday,pickup_days_in_year,pickup_days_sin,pickup_days_cos,pickup_seconds_in_day,pickup_seconds_sin,pickup_seconds_cos
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24,-73.973320,40.763805,-73.981430,40.743835,1,2015-01-27 13:08:24+00:00,2015-01-27 08:08:24-05:00,2015,...,8,8,24,1,26,0.432776,0.901502,29304,0.847122,-0.531399
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24,-73.986862,40.719383,-73.998886,40.739201,1,2015-01-27 13:08:24+00:00,2015-01-27 08:08:24-05:00,2015,...,8,8,24,1,26,0.432776,0.901502,29304,0.847122,-0.531399
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44,-73.982524,40.751260,-73.979654,40.746139,1,2011-10-08 11:53:44+00:00,2011-10-08 07:53:44-04:00,2011,...,7,53,44,5,280,-0.994218,0.107381,28424,0.879372,-0.476136
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12,-73.981160,40.767807,-73.990448,40.751635,1,2012-12-01 21:12:12+00:00,2012-12-01 16:12:12-05:00,2012,...,16,12,12,5,335,-0.493776,0.869589,58332,-0.891402,-0.453213
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12,-73.966046,40.789775,-73.988565,40.744427,1,2012-12-01 21:12:12+00:00,2012-12-01 16:12:12-05:00,2012,...,16,12,12,5,335,-0.493776,0.869589,58332,-0.891402,-0.453213