In [11]:
import pandas as pd

In [12]:
TRAIN_DATA = '../data/data-for-processing/cleaned_train.feather'
TEST_DATA = '../data/data-for-processing/cleaned_test.feather'

In [13]:
train_df = pd.read_feather(TRAIN_DATA)
test_df = pd.read_feather(TEST_DATA)

/home/solomon/anaconda3/envs/py3/lib/python3.6/site-packages/pandas/io/feather_format.py:112: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  return feather.read_dataframe(path, nthreads=nthreads)

In [14]:
train_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_datetime_utc,pickup_datetime_local,...,pickup_seconds_cos,longitude_delta,latitude_delta,haver_dist,bear_dist,jfk_dist,ewr_dist,lga_dist,liberty_dist,nyc_dist
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21,-1.288826,0.710721,-1.288779,0.710563,1,2009-06-15 17:26:21+00:00,2009-06-15 13:26:21-04:00,...,-0.929857,0.000047,-0.000158,1.030764,-0.000089,20.265840,55.176046,14.342611,34.543548,27.572573
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16,-1.291824,0.710546,-1.291182,0.711780,1,2010-01-05 16:52:16+00:00,2010-01-05 11:52:16-05:00,...,-0.999431,0.000642,0.001234,8.450134,-0.001214,44.667679,31.832358,23.130775,15.125872,8.755732
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00,-1.291242,0.711418,-1.291391,0.711231,2,2011-08-18 00:35:00+00:00,2011-08-17 20:35:00-04:00,...,0.625923,-0.000148,-0.000187,1.389525,0.000281,43.597686,33.712082,19.865289,17.722624,9.847344
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42,-1.291319,0.710927,-1.291396,0.711363,1,2012-04-21 04:30:42+00:00,2012-04-21 00:30:42-04:00,...,0.991042,-0.000077,0.000435,2.799270,0.000147,42.642965,32.556289,21.063132,15.738963,7.703421
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00,-1.290987,0.711536,-1.290787,0.711811,1,2010-03-09 07:51:00+00:00,2010-03-09 02:51:00-05:00,...,0.734323,0.000200,0.000275,1.999157,-0.000378,43.329953,39.406828,15.219339,23.732406,15.600745

In [15]:
test_df.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_datetime_utc,pickup_datetime_local,pickup_year,...,pickup_seconds_cos,longitude_delta,latitude_delta,haver_dist,bear_dist,jfk_dist,ewr_dist,lga_dist,liberty_dist,nyc_dist
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24,-1.291078,0.711463,-1.291220,0.711114,1,2015-01-27 13:08:24+00:00,2015-01-27 08:08:24-05:00,2015,...,-0.531399,-0.000142,-0.000349,2.323260,0.000268,42.055277,35.042878,18.501273,18.309374,10.095252
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24,-1.291314,0.710687,-1.291524,0.711033,1,2015-01-27 13:08:24+00:00,2015-01-27 08:08:24-05:00,2015,...,-0.531399,-0.000210,0.000346,2.425353,0.000397,41.244373,30.827012,23.023659,12.664639,4.599471
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44,-1.291239,0.711244,-1.291189,0.711154,1,2011-10-08 11:53:44+00:00,2011-10-08 07:53:44-04:00,2011,...,-0.476136,0.000050,-0.000089,0.618628,-0.000095,41.831497,33.993679,19.353797,17.018308,8.797452
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12,-1.291215,0.711532,-1.291377,0.711250,1,2012-12-01 21:12:12+00:00,2012-12-01 16:12:12-05:00,2012,...,-0.453213,-0.000162,-0.000282,1.961033,0.000307,43.964285,34.268523,19.525661,18.544904,10.709378
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12,-1.290951,0.711916,-1.291344,0.711124,1,2012-12-01 21:12:12+00:00,2012-12-01 16:12:12-05:00,2012,...,-0.453213,-0.000393,-0.000791,5.387301,0.000746,44.128523,36.440152,18.414857,20.732468,12.752865